.Footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: #333333;
    width: 100%;
}

.Footer-copy{
    padding: 15px;
    text-align: center;
    color: #ffffff;
}