.Sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.Sidebar-nav li{
    display: block;
    padding: 5px;
}

.Sidebar-link {
    color: #222222;
    text-decoration: none;
    font-size: 18px;
}